<head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <link rel = "stylesheet" href="/stylesheets/myliststyle.css">

</head>
<body>
    <div class = "sideBar">
        <div id="navbar">랜섬<br>여행</div>
        <div id="infoBox">베타버전</div>
        <div id="mytravel"><a href="/">홈으로</a></div>
        <div id="poster"><a href="/updateinfo">업데이트내역</a></div>
    </div>

    <div class="header">나의 여행지 리스트</div>

    <div class="mylistcard"></div>
    <script>
        // var urlAdd = "http://localhost:3000/"  
        var urlAdd = "http://itjusttravel.herokuapp.com/"

        var output = localStorage.getItem("key");		
        var myListArr = JSON.parse(output);

        // console.log(myListArr[0])

        var dataList;
        var htmlData = "";

        $.ajax({
            // url : "https://itjusttravel.herokuapp.com/file", // test.jsp 에서 받아옴
            // // url : "http://localhost:3000/file",
            url :  urlAdd + 'file',
            dataType :"json", // 데이터타입을 json 으로 받아옴
            success : function(data) {
                // alert("data로딩이 완료되었습니다.")
                dataList = data;
                setContent(); 
                // $('#loading').hide();  
            },
            error : function(e) {
                console.log(e.responseText);
                console.log(e);
            }
        })

        var setContent = function() {
            // console.log(dataList)
            // if(!myListArr)myListArr=[0]
            for(var target of dataList){
                if(myListArr.includes(target._id)){
                console.log(target._id)
                var content =`
                <div class="center">
                    <div class="property-card">
                        <a href="'${target.moreLink}'">
                        <div class="property-image" style = "background-image : url('${target.picLink}')">
                        </div></a>
                        <div class="property-description">
                        <h5> '${target.spot}' </h5>
                        <p>'${target.des}'</p>
                        </div>
                        <a href="'${target.moreLink}'">
                        <div class="property-social-icons">
                            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
                        </div>
                        </a>
                    </div>
                </div> 
                `
                htmlData = htmlData + content

            }
        }
        $(".mylistcard").html(htmlData)
    
        }
    </script>


</body>