<head>
    <title>나의 여행지</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <!-- <script src="js/jquery.min.js"></script> -->
    <script src="js/skel.min.js"></script>
    <!-- <script src="js/main.js"></script> -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

</head>
<body>
    <div id="wrapper">
        <header id="header">
            <h1>나의 여행지,<br/>준비가 되었다면 출발해요.</h1>
            <h5>"나의 여행지는 최대 20곳만 담을 수 있습니다"</h5>
        </header>
        <section id="main">
            <section class="thumbnails scrolling-wrapper"></section>
        </section>

        <footer id="footer">
            <p>&copy; 관리자 이메일 : qhdgkdbs@gmail.com <br>오류가 있다면 제보 해주세요</p>
        </footer>
    </div>

    <script>
        var urlAdd = "http://localhost:3000/recomanded"  
        // var urlAdd = "https://itjusttravel.herokuapp.com/recomanded"

        var output = localStorage.getItem("key");		
        var myListArr = []
        myListArr=JSON.parse(output);

        // console.log(myListArr[0])

        var dataList;
        var htmlData = "";

        $.ajax({
            // url : "https://itjusttravel.herokuapp.com/recomanded", // test.jsp 에서 받아옴
            // url : "http://localhost:3000/recomanded",
            url :  urlAdd + 'file',
            dataType :"json", // 데이터타입을 json 으로 받아옴
            success : function(data) {
                // alert("data로딩이 완료되었습니다.")
                dataList = data;
                setContent(); 
                // $('#loading').hide();  
            },
            error : function(e) {
                console.log(e.responseText);
                console.log(e);
            }
        })

        var setContent = function() {
            // console.log(dataList)
            // if(!myListArr)myListArr=[0]

            var content = `<div class="card">`

            for(var target of dataList){
                
                if(myListArr.includes(target._id)){
                    console.log(target._id)
                    
                    content = content +` 
                            <a href="'${target.moreLink}'">
                                <img src="${target.picLink}" alt="" />
                                <h3>'${target.spot}'</h3>
                            </a>
                        
                    ` 
                }           
        }
        content = content +`</div>`
        htmlData = htmlData + content                 


        $(".thumbnails").html(htmlData)
        }
    </script>


</body>