
  body {
    padding: 0px !important;
    margin : 0px !important;
  }
  
  .sideBar{
    float: left;
    background-color: beige;
    height:500px;

  }
  
  #navbar{
    height:80px;
    width :80px;
    background: #262626;
    color : wheat;
    font-weight: bolder;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10001;
    top: 20px;
    left: 20px;
    text-align: center;
  }
  
  #infoBox{
    height:40px;
    width :80px;
    background: thistle;
    color : #262626;
    font-weight: bolder;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10001;
    top: 100px;
    left: 20px;
    text-align: center;
  }
  
  #mytravel {
    height:40px;
    width :80px;
    background: thistle;
    color : #262626;
    font-weight: bolder;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10001;
    top: 140px;
    left: 20px;
    text-align: center;
  }
  
  #poster{
    height:40px;
    width :80px;
    background: thistle;
    color : #262626;
    font-weight: bolder;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10001;
    top: 180px;
    left: 20px;
    text-align: center;
  }

  .header{
    position: absolute;
    width: 150px;
    height : 40px;
    top : 20px;
    left : 150px;
    color : black;
  }

  .mylistcard{
    top : 60px;
    left : 150px;
    position: absolute;
  }
  /* ////////// */

  body
{
  background-color:#f2f2f2;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h5
{
  margin:0px;
  font-size:1.4em;
  font-weight:700;
}

p
{
  font-size:12px;
}

.center
{
  float: left;
  height:350px;
  width:250px;
  /* display: flex;
  /* justify-content: center; */
  /* align-items: center;
  flex-direction: initial;  */
}

/* End Non-Essential  */

.property-card
{
  height:18em;
  width:14em;
  /* display:-webkit-box;
  display:-ms-flexbox;
  display:flex; */
  /* -webkit-box-orient:vertical;
  -webkit-box-direction:normal; */
  /* -ms-flex-direction:row;
  flex-direction: row; */
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:10em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size:cover;
  background-repeat:no-repeat;
}

/* Bottom Card Section */

.property-description
{
  background-color: #FAFAFC;
  height:8em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

/* Social Icons */

.property-social-icons
{
  width:1em;
  height:1em;
  background-color:black;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:18em;
}

.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}





